/* VARIABLES */

:root {
  --Almost_White: hsl(0, 0%, 98%);
  --Medium_Gray: hsl(0, 0%, 41%);
  --Almost_Black: hsl(0, 0%, 8%);
}

/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--Almost_Black);
}

/* END */

.wrapper {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

body {
  background: #fefefe;
  font: 18px "Epilogue", sans-serif;
  height: 94vh;
  margin: 0 20px;
  overflow: hidden;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  max-width: 1550px;
  margin: 0 auto;
}

/* Left Side */

header .left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .left-side img {
  height: 35px;
}

ul,
li {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  color: var(--Medium_Gray);
}

li:hover {
  cursor: pointer;
  color: var(--Almost_Black);
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 18px;
}

.dropdownFeature {
  display: none;
}

.dropdownFeature.active {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  padding: 1rem;
  border-radius: 10px;
  transform: translate(-50px, 40px)
}

.dropdownFeature li {
  display: flex;
  font-size: 18px;
  gap: 1rem;
}
.dropdownCompany {
  display: none;
}

.dropdownCompany.active {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  padding: 1rem;
  border-radius: 10px;
  transform: translate(150px, 40px)
}

.dropdownCompany li {
  display: flex;
  font-size: 18px;
  gap: 1rem;
}

.dropdownFeature img {
  max-height: 17px;
  width: 17px;
}

.dropdown img {
  max-height: 7px;
  width: 10px;
}


/* Right Side */
.dropdownButton-close, .dropdownButton-open {
  cursor: pointer;
}

header .right-side {
  display: flex;
  gap: 2rem;
  align-items: center;
}

header .right-side button {
  border-radius: 10px;
  background: none;
  border: 2px var(--Medium_Gray) solid;
  padding: 10px 22.5px;
}

header .right-side button:first-of-type:hover {
  cursor: pointer;
  border: 2px black solid;
} 

/* Main content */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80%;
  max-height: 800px;
  margin-top: 60px;
}

main div:nth-child(1) {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  max-width: 80%;
}

main h1 {
  font-weight: 700;
  font-size: 6rem;
  margin-top: auto;
  line-height: 90px;
}

main p {
  line-height: 30px;
  font-size: 22px;
  max-width: 85%;
  margin: 60px 0;
}

main .logos {
  width: 100%;
  margin-top: auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-unhide {
  display: none;
}

main button {
  background: black;
  color: var(--Almost_White);
  font-size: 20px;

  padding: 15px 25px;
  font-weight: bold;
  border-radius: 15px;
}

main button:hover {
  background: none;
  color: var(--Almost_Black);
  border: 1px black solid;
  cursor: pointer;
  transition: 0.1s background;
}

.hero-image {
  background: url("/images/image-hero-desktop.png") no-repeat;
  background-position: right;
  background-size: contain;
}

@media screen and (max-width: 640px) {
  main .hero-image {
        background-size: cover;
  }
}
@media screen and (max-width: 1000px) {
  main {
    margin-top: 20px;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
  }

  .mobile-unhide .hide {
  display: none;
  }

  header {
    margin: 0 20px;
  }

  header .mobile-hidden {
    display: none;
  }

  header button.mobile-unhide {
    display: block;
    border: none;
  }

  main div:nth-child(1) {
    align-items: center;
    grid-column: span 2;
    max-width: 100%;
  }

  main p {
    font-size: 1.25rem;
    margin: 25px 0;
    text-align: left;
  }

  main h1 {
    font-size: 3.5rem;
    margin-top: 2rem;
  }

  body {
    margin: 0;
  }

  .hero-image {
    order: -1;
    width: 100%;
    height: 400px;
    background: url("/images/image-hero-mobile.png") center no-repeat;
    background-size: contain;
    grid-column: span 2;
  }

  main .logos {
    justify-content: space-around;
    margin-top: 60px;
  }
}
